.loader--container {
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}

.loader--spinner {
  border: 2px solid #8da9c4;
  border-top: 2px solid #f15a29;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  animation: spin 2s linear infinite;
  margin-right: 0.5em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
