.input {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.input > input {
  background-color: #f6f6f6;
  border-radius: 15px;
  border-width: 0;
  width: 20em;
  height: 2em;
  margin-top: 0.5em;
  padding: 0.3em 1em;
  border: 1px solid #8da9c4;
}

.input > span {
  margin-left: 0.5em;
  font-size: 0.8em;
}
