.btn {
  border-width: unset;
  border-style: unset;
  border-radius: 15px;
  padding: 0.5em 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #606776;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: #f15a29;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.btn--primary:hover {
  background-color: #f36c3f;
  transition: background-color 0.2s ease-in-out;
}

.btn--secondary {
  background-color: #4d6aa7;
  color: white;
}

.btn--tertiary {
  background-color: #f7f3f5;
  color: #f15a29;
  border: 1px solid #f15a29;
  transition: background-color 0.2s ease-in-out;
}

.btn--tertiary:hover {
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}

.btn--link {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}

.btn--link:hover {
  color: #474747;
}

.btn__disabled {
  background-color: #8da9c4;
}

.btn__disabled:hover {
  background-color: #8da9c4;
}

.btn__disabled:hover {
  cursor: not-allowed;
}
