.contact-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-list--new-contact {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  font-weight: 300;
}

.contact-list--new-contact:hover {
  cursor: pointer;
}

.contact-list--new-contact > div:first-child {
  margin-right: 0.7em;
  font-size: 3em;
  font-weight: 100;
}

.contact-card {
  display: flex;
  align-items: center;
  margin: 1em 0;
  background: none;
  border: none;
}

.contact-card:hover {
  cursor: pointer;
}

.contact-card--name {
  font-weight: 300;
}

.contact-list--contacts {
  overflow: auto;
  height: 40vh;
}
