.contact-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-list h1 {
  text-align: center;
}

.contact-list--new-contact {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 300;
  margin-left: 0.6em;
}

.contact-list--new-contact:hover {
  cursor: pointer;
  color: #474747;
}

.contact-list--new-contact > div:first-child {
  margin-right: 0.55em;
  font-size: 3em;
  font-weight: 100;
}

.contact-list--contacts > button:hover span {
  color: #474747;
}

.contact-card--name {
  font-weight: 300;
}

.contact-list--contacts {
  overflow: auto;
}

.contact-list--contacts > button {
  margin: 0.6em 0;
}
