.transaction-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.transaction-form--address {
  margin: 0 0 1em 0;
  font-weight: 200;
  font-size: 0.8em;
  color: #637db2;
}

.transaction-form--contact-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-form--contact-data > button {
  margin: 0.5em 1em 0 0;
}

.transaction-form--form {
  display: flex;
  flex-direction: column;
}

.transaction-form--edit {
  text-align: right;
}

.transaction-form--fee {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  height: 1.5em;
  margin-bottom: 1.5em;
}
