html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #606776;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.main {
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  background-color: #eef4ed;
  border-radius: 30px;
  position: relative;
}
